@media only screen and (min-width: 392px) { 
  
    .navbar-nav{
		margin-top: 25px;
		text-align: center;
        margin-top: 0;
        margin-bottom: 0;
	}
	
	.hero-slider .carousel-inner{
    	height: auto!important;

}
}
@media only screen and (max-width: 768px){

}